[Unit]
Description=Vyuctovanie (%i) - beh kazdych 10 minut

[Timer]
OnCalendar=*:00/10
Persistent=true
RandomizedDelaySec=30

[Install]
WantedBy=timers.target
